:root {
  --salmon: #e89c6d;
  --dsalmon:rgb(82, 33, 2)d;
  --black: #000;
  --white: #fff;
  --cyan: #AEDEE0;
  --dcyan: #00556e;
  --spacing: 0.25rem;
}

@font-face {
  font-family: "PPNeueMachina";
  src: url(fonts/PPNeueMachinaMedium.woff);
}
@font-face {
  font-family: "PPNeueMachinaLight";
  src: url(fonts/PPNeueMachinaLight.woff);
}

body {
  transition: background-color 0.5s ease-out;
}
*::selection {
  background-color: var(--salmon);;
}
body[theme="black"] {
  background: var(--black);
}
body[theme="black"] .section{
  color: var(--white);
}
body[theme="white"] {
  background: var(--white);
}
body[theme="white"] .section{
  color: var(--black);
}
body[theme="cyan"] {
  background: var(--cyan);
}
body[theme="cyan"] .section{
  color: var(--dcyan);
}
body[theme="salmon"] {
  background: var(--salmon);
}
body[theme="salmon"] .section{
  color: var(--dsalmon);
}
.video {
  clip-path: circle(var(--clip));
}
.cards__item {
  transition: all 0.3s linear;
}
.cards__item.active {
  width: calc(var(--spacing) * 180);
  color: var(--cyan);
  background-color: var(--black);
  border-color: var(--black);
}
.footer-logo {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}