:root {
  --salmon: #e89c6d;
  --dsalmon:rgb(82, 33, 2)d;
  --black: #000;
  --white: #fff;
  --cyan: #AEDEE0;
  --dcyan: #00556e
}


@font-face {
  font-family: "PPNeueMachina";
  src: url(fonts/PPNeueMachinaMedium.woff);
}
@font-face {
  font-family: "PPNeueMachinaLight";
  src: url(fonts/PPNeueMachinaLight.woff);
}

*::selection {
  background-color: var(--salmon);;
}
body[theme="black"] {
  background: var(--black);
}
body[theme="black"] .section{
  color: var(--white);
}
body[theme="white"] {
  background: var(--white);
}
body[theme="white"] .section{
  color: var(--black);
}
body[theme="cyan"] {
  background: var(--cyan);
}
body[theme="cyan"] .section{
  color: var(--dcyan);
}
body[theme="salmon"] {
  background: var(--salmon);
}
body[theme="salmon"] .section{
  color: var(--dsalmon);
}